base-font-size = 20px
readable-font-size = 16px
base-font-family = Raleway, Helvetica, Arial, sans-serif

base-font-color = #555

nav-spacing = 20px
nav-padding-v = 20px
nav-padding-h = 10px
nav-padding = nav-padding-v nav-padding-h
nav-font-mod = 10px
nav-height = base-font-size + nav-font-mod + nav-padding-v * 2

base-padding-h = 20px
base-padding-v = 0
base-padding   = base-padding-v base-padding-h

post-padding = 30px
post-title-padding = 0 0 20px 0
post-description-padding = 30px 0 10px 0
post-border-size = 10px
