
header, form
  height 100%

.main
  padding 50px
  padding-top 20px

  height 35%

  h3
   margin-top 0
   text-align center

  input, textarea
    border-bottom 2px solid rgba(0,0,0,0.25)

    transition ease 0.3s all

    &:focus
      border-color rgb(120, 120, 255)

  textarea
    margin-top 10px

#video-upload
  position relative

  height 65%

  background #555

  video
    height 100%

  p.placeholder
    position absolute

    top 20%

    font-size 30px
    color rgba(255, 255, 255, 0.33)

    text-align center

  .video-upload-btn
    position relative
    top -100px

    display block

    height 50px
    width 50px

    margin 0 auto

    background white

    border-radius 25px
    box-shadow 2px 2px 5px rgba(0,0,0,0.5)

    .inner-btn
      width 36px
      height 36px

      margin 0 auto

      background #ee3333

      border-radius 18px
