.issue-title
  color: black
  text-align: center
  margin-top: 10px
  margin-bottom: 5px
  font-size: 20px

.vid
  text-align: center

.issue-desc
  margin-top: 5px
  text-align: left
  font-size: 14px

  
  