@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,800')
@import '../../vendor/css/layers.css'
@import '_colors'
@import '_vars'

// NOTE(jordan): general styles, additional resets

*
  box-sizing border-box

h1, h2, h3, h4, h5, h6
  margin 0

p
  margin 0
  padding 0

button
  outline none

input[type="text"], textarea
  max-width 100%

// NOTE(jordan): order of imports is important; these can override the above now
@import 'theme.styl'
@import 'pages/discussion-post.styl'
@import 'pages/create-issue.styl'
@import 'pages/issue.styl'
