@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,800')
@import '../../vendor/css/layers.css'
@import 'discussion-post.styl'
@import 'home-page.styl'

html, body
  margin 0
  padding 0
  height 100%

body
  font-size 20px
  font-family Raleway, helvetica, arial, sans-serif

*
  box-sizing border-box

input[type="text"], textarea
  max-width 100%

.anchored
  position fixed 0
