button
  color white
  background-color #22ccc0
  height 60px
  width 60px
  border-width 0px
  border-radius 30px
  border-style solid

.pg-bgnd
  background-color white

.post
  background-color white
  border-width 3px
  border-color #22ccc0
  border-style solid
  border-radius 20px
