button
  background-color cyan
  height 40px
  border-width 2px
  border-color black
  border-radius 2px

.pg-bgnd
  background-color blue

.post
  background-color white
  border-width 3px
  border-color black
  border-style solid
  border-radius 20px
