extends ../layout

block head
  title Post an Issue

block body
  ul.nav-bar
    a(href="")
      li.column.one.inline-block
        i(class="fa fa-chevron-left")
    li.column.ten.inline-block Create an Issue
    
  header.column.twelve
    form.column.twelve
      .main
        label.column.three Title
        input.plain.column.nine.last(type='text')

        textarea.plain.column.twelve.last
          | Description...

      #video-upload
        p.placeholder.column.twelve your video will go here :)
        video.column.twelve.last(autoplay)
        button.plain.video-upload-btn
          .inner-btn
      
      // NOTE(jordan) temporarily hidden because not yet styled/ready
      button.plain.submit-btn.hidden
