extends ../layout

block head
  title Discussion

block body
  .pg-bgnd
    header.anchored
      button.back-btn.plain <-
      h2 Issue Name

    div.post
      img.discussion-post-pic(src="/images/profilepic.png")
      p This is an example post that the user is replying to.
      button.sprt-btn.column.push-three Support
      button.rply-btn.column.push-five View
    button.column.push-eleven.post-btn +
