doctype html
html
  head
    title Create a Discussion Post
    link(rel='stylesheet', href='../css/main.css', type='text/css')
  body
    div
      form
        input(type="text", placeholder="Post Title")
        input(type="text", placeholder="Discussion content here")
