extends ../layout

block head
    title Hidden Dragon

block vars
  - bodyClass = 'home'

block nav
  p.fade.column.eleven Viva Voce
  i.fa.fa-search.btn.search-btn.column.one.last

block body
  .post
    h2.title Example Issue
    .video
      iframe(
        height="300",
        src="https://www.youtube.com/embed/3K1jpOrTI44",
        frameborder="0"
        )
    p.description
      | Example issue description guyz this is important
