extends ../layout

include _mixins

block head
    title Hidden Dragon

block vars
  - bodyClass = 'home'

block nav
  p.fade.column.eleven Viva Voce
  i.fa.fa-search.btn.search-btn.column.one.last
    input(type='text', value='What are you looking for?').plain.search-bar
    i.fa.fa-search.inner-search-btn

block body
  +post('Black Lives Matter', 'iframe', 'https://www.youtube.com/embed/3K1jpOrTI44', '#BlackLivesMatter is a call to action and a response to the virulent anti-Black racism that permeates our society.')
  +post('San Bernadino Killer', 'iframe', 'https://www.youtube.com/embed/BZmeZyDGkQ0', 'The Supreme Court has ruled that Apple must unlock the encrypted iPhone of one of the San Bernadino killers - stand with Apple against a dangerous precedent.')
  +post('DivestNU', 'iframe', 'https://www.youtube.com/embed/LMqrzGIqcSI', 'Convince Northwestern to divest from corporations that are profiting off of the illegal occupation of Palestinian lands!')
  
  button.plain.new-btn +

block scripts
  script(src='https://www.youtube.com/iframe_api')
