extends ../layout

include _mixins

block head
    title Hidden Dragon

block vars
  - bodyClass = 'home'

block nav
  p.fade.column.eleven Viva Voce
  i.fa.fa-search.btn.search-btn.column.one.last
    input(type='text', value='What are you looking for?').plain.search-bar
    i.fa.fa-search.inner-search-btn

block body
  +post('Example Post', 'iframe', 'https://www.youtube.com/embed/3K1jpOrTI44', 'Example issue description', true)
  +post('Another example', 'video', '/', 'Some descriptive text fdjskaljflkds fjdskl jfkdsa jl jfdks jkfdsj kjf ksj kfjdsk jf ksdj fksjk fjksfjkja fkdj kjfk sjk jk fdksja kfjksjak fkdsjakfj ksjk afjdskl')
  +post('A third example', 'video', '/', 'Some descriptive text')
  
  a(href='/create-issue.html')
    button.plain.new-btn +

block scripts
  script(src='https://www.youtube.com/iframe_api')
