extends ../layout

block head
  title
  
block body
  ul.nav-bar
    li.column.one.inline-block
      i(class="fa fa-chevron-left")
    li.column.ten.inline-block Yo
  
  video.column.twelve.controls
    source(src="")
  
  div
    p.buffer Description
    
  button.column.two Support
  button.column.two.last Something
  
  
    
