extends ../layout

include _mixins

block head
  title Issue Page

block vars
  - bodyClass = 'issue'

block nav
  +back-btn()
  p.column.eleven.last Issue Page
  
block body
  button.support-btn.column.six
    p.column.twelve.last support
    img.last(src='/images/fist-icon.png')
  button.discuss-btn.column.six.last
    p.column.twelve.last discuss
    i.fa.fa-comments.column.twelve.last

block scripts
  script(src='https://www.youtube.com/iframe_api')
