extends ../layout

include _mixins

block head
  title Issue Page

block vars
  - bodyClass = 'issue'

block nav
  +back-btn()
  p.column.eleven.last Issue issue issue
  
block body
  +post('Some issue', 'iframe', 'https://www.youtube.com/embed/BZmeZyDGkQ0', 'San Bernadino apple encryption Tim Cook oh my')
  button.column.two Support
  button.column.two.last Something

block scripts
  script(src='https://www.youtube.com/iframe_api')
