extends ../layout

block head
  title Issue Page

block nav
  i.fa.fa-chevron-left.column.one
  p.column.eleven.last Issue issue issue
  
block body
  button.column.two Support
  button.column.two.last Something
