doctype html
html
  head
    title Reply
    link(rel='stylesheet', href='../css/main.css', type='text/css')
  body 
    header
      button.backbtn.plain <-
      div.discpost
        img.discpostpic(src="profilepic")
        p This is an example post that the user is replying to.
    form
      textarea.plain.squeeze.columns.twelve.last
      button.postbtn.plain.last Post
