body.create-issue
  padding 0

  header
    height 100%

    form.issue-form
      height 100%
      font-size readable-font-size

      .top
        padding 0 25px
        height 35%
        padding-top 10px

        input
          position relative
          top -10px

        input, textarea
          padding 10px
          border-bottom 2px solid darken(primary, 20%)
          font-weight 400

          transition ease 0.3s all

          &:focus
            border-color secondary
            background darken(primary, 10%)

        textarea
          width 'calc(100% - %s)' % 20px
          margin 20px 0
          max-height 120px

      #video-upload
        position relative

        height 65%

        background #555

        video
          height 100%
          object-fit cover

        p.placeholder
          position absolute

          top 20%

          font-size 30px
          color rgba(255, 255, 255, 0.33)

          text-align center

        .video-upload-btn
          position relative
          top -100px

          display block

          height 50px
          width 50px

          margin 0 auto

          background white

          border-radius 25px
          box-shadow 2px 2px 5px rgba(0,0,0,0.5)

          .inner-btn
            width 36px
            height 36px

            margin 0 auto

            background #ee3333

            border-radius 18px
