doctype html
html
  head
    title Hidden Dragon
    
    link(rel='stylesheet', href='css/main.css', type='text/css')
  body
    div.column.twelve(class = 'pg-bgnd')
      div.column.ten(class = 'header' id = 'home-top-bar') Trending
      div.column.one.inline.plain(id = 'srch-btn') O=
      div.column.twelve(class = 'issue-bgnd-1')
        p.column.twelve(class = 'issue-title') Example Issue
        video(class = 'issue-vid' width="854" height="400")
          source(src="https://www.youtube.com/embed/3K1jpOrTI44" type="video/mp4")
      div.column.twelve.push-ten.last.plain(class='post-btn' id='post-issue') Post
        
        
        
          
        