doctype html
html
  head
    title Hidden Dragon
    
    link(rel='stylesheet', href='css/main.css', type='text/css')
  body
    p.column.six.push-three.last Hello, minions
    
    script(src='js/app.bundle.js')
