include pages/_mixins
doctype html
html
  head
    block head
    
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='/css/main.css', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', type='text/css')
    
    - var bodyClass = ''
    block vars
    
  body(class='#{bodyClass}')
    nav.column.twelve.fixed-top
      block nav

    +post('Black Lives Matter', 'iframe', 'https://www.youtube.com/embed/3K1jpOrTI44', '#BlackLivesMatter is a call to action and a response to the virulent anti-Black racism that permeates our society.')(class='hidden')
    +post('San Bernadino Killer', 'iframe', 'https://www.youtube.com/embed/BZmeZyDGkQ0', 'The Supreme Court has ruled that Apple must unlock the encrypted iPhone of one of the San Bernadino killers - stand with Apple against a dangerous precedent.')(class='hidden')
    +post('DivestNU', 'iframe', 'https://www.youtube.com/embed/LMqrzGIqcSI', 'Convince Northwestern to divest from corporations that are profiting off of the illegal occupation of Palestinian lands!')(class='hidden')

    block body
    
    // NOTE(jordan): templates
    #post-template
      +post('{{title}}', 'video', '{{video}}', '{{description}}')(class='hidden')
    
    block scripts

    script(src='/js/app.bundle.js')
