include pages/_mixins
doctype html
html
  head
    block head
    
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='/css/main.css', type='text/css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', type='text/css')
    
    - var bodyClass = ''
    block vars
    
  body(class='#{bodyClass}')
    nav.column.twelve.fixed-top
      block nav

    block body
    
    // NOTE(jordan): templates
    #post-template
      +post('{{title}}', 'video', '{{video}}', '{{description}}')(class='hidden')
    
    block scripts

    script(src='/js/app.bundle.js')
